// Colors
$primary: #861A22;
$background: #F9F4F2;
$black: #000000;
$white: #ffffff;

$color-header: $black;
$color-contact-cta: $white;
$color-hero: $primary;
$background-footer: $background;
$background-contact-cta: $primary;
$background-hero: $background;
$background-hero-slider: $primary;

// fonts
$font-primary: 'Jost', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;
$font-tertiary: 'Playfair Display', serif;

$font-family-base: $font-primary;

$font-family-nav: $font-primary;